* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(237, 229, 237);
    font-size: 18px;
}

.contacts {
    margin-top: 30px;
}

.contacts__header {
    display: flex;
    width: 310px;
    flex-wrap: wrap;
    margin: 0 auto;
}

input {
    font-size: 16px;
    width: 300px;
    padding: 5px;
    margin-bottom: 7px;
}

.contact__button {
    margin: 10px 0;
    font-size: 16px;
    padding: 5px 8px;
    background-color: rgb(205, 158, 211);
    border: 1px solid black;
}

.contacts__content {
    width: 310px;
    display: flex;
    margin: 0 auto;
    margin-top: 10px;
}

li {
    list-style: none;
    padding: 10px;
    background-color: rgb(251, 249, 252);
    width: 300px;
}

li:not(:first-child) {
    margin-top: 25px;
}

li div {
    margin-bottom: 5px;
}

.delete__button {
    padding: 4px 7px;
    margin-top: 10px;
    background-color:rgb(224, 196, 227) ;
    border: 1px solid black;
}